body{
   color: white;
    padding-top: 30%;
    background-color: rgb(200, 207, 209);
}
.container {
    border: 2px solid black;
    background-color: rgb(93, 85, 86);
}
h2{
    text-align: center;
}