
.top-logo {
    display: flex;
    justify-content: center;
}

h1 {
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4%;
    margin-top: 2%;
}

.institute-logo {
    height: 22%;
}

form label {
    font-weight: bold;
}

form input,
form select {
    margin-bottom: 12px;
}

button {
    margin-right: 10px;
}
